openapi: 3.0.3
info:
  title: Bithumb Global REST API
  description: >
    REST API for Bithumb Global (bithumb.pro), South Korea's leading
    cryptocurrency exchange. Provides public market data and authenticated
    private endpoints for spot trading, account management, and
    deposit/withdrawal operations across 396+ cryptocurrencies.
  version: 1.0.0
  contact:
    name: Bithumb Developer Support
    url: https://apidocs.bithumb.com
  termsOfService: https://www.bithumb.com/u1/US139
servers:
  - url: https://global-openapi.bithumb.pro/openapi/v1
    description: Bithumb Global REST API v1

tags:
  - name: General
    description: Server time and configuration
  - name: Market Data
    description: Public spot market data endpoints
  - name: Spot Trading
    description: Authenticated spot order management
  - name: Account
    description: Asset account management
  - name: Wallet
    description: Deposit and withdrawal history

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
      description: >
        API key issued from bithumb.pro. All authenticated requests must also
        include `timestamp` (Unix ms) and `signature` (HmacSHA256 of sorted
        request parameters joined with "&").

  schemas:
    BaseResponse:
      type: object
      properties:
        code:
          type: string
          example: "0"
        msg:
          type: string
          example: success
        timestamp:
          type: integer
          format: int64
        params:
          type: array
          items: {}

    CoinConfig:
      type: object
      properties:
        name:
          type: string
          description: Coin symbol
        fullName:
          type: string
          description: Full coin name
        depositStatus:
          type: string
          description: "0=disabled, 1=enabled"
        withdrawStatus:
          type: string
          description: "0=disabled, 1=enabled"
        minWithdraw:
          type: string
        withdrawFee:
          type: string
        makerFeeRate:
          type: string
        takerFeeRate:
          type: string
        minTxAmt:
          type: string

    SpotConfig:
      type: object
      properties:
        symbol:
          type: string
        accuracy:
          type: array
          items:
            type: string
        percentPrice:
          type: object
          properties:
            multiplierDown:
              type: string
            multiplierUp:
              type: string

    ContractConfig:
      type: object
      properties:
        symbol:
          type: string
        makerFeeRate:
          type: string
        takerFeeRate:
          type: string

    TickerData:
      type: object
      properties:
        c:
          type: string
          description: Last price in the past 24 hours
        h:
          type: string
          description: High price in the past 24 hours
        l:
          type: string
          description: Low price in the past 24 hours
        p:
          type: string
          description: Price change in the past 24 hours
        v:
          type: string
          description: Deal quantity in the past 24 hours
        s:
          type: string
          description: Symbol

    OrderBookData:
      type: object
      properties:
        b:
          type: array
          description: Bids [price, quantity]
          items:
            type: array
            items:
              type: string
        s:
          type: array
          description: Asks [price, quantity]
          items:
            type: array
            items:
              type: string
        ver:
          type: string
          description: Version number
        symbol:
          type: string

    TradeRecord:
      type: object
      properties:
        p:
          type: string
          description: Deal price
        s:
          type: string
          description: Trade type (buy or sell)
        v:
          type: string
          description: Deal quantity
        t:
          type: string
          description: Timestamp (Unix seconds)

    KlineRecord:
      type: object
      properties:
        c:
          type: string
          description: Close price
        h:
          type: string
          description: High price
        l:
          type: string
          description: Low price
        o:
          type: string
          description: Open price
        s:
          type: string
          description: Total deal money
        t:
          type: string
          description: Total deal times
        time:
          type: string
          description: Timestamp (Unix seconds)
        v:
          type: string
          description: Total deal quantity

    Order:
      type: object
      properties:
        orderId:
          type: string
        symbol:
          type: string
        price:
          type: string
        tradedNum:
          type: string
          description: Completed quantity
        quantity:
          type: string
          description: Total quantity
        avgPrice:
          type: string
          description: Average fill price
        status:
          type: string
          enum: [send, pending, success, cancel]
        type:
          type: string
          enum: [market, limit]
        side:
          type: string
          enum: [buy, sell]
        createTime:
          type: string
        tradeTotal:
          type: string

    AssetRecord:
      type: object
      properties:
        coinType:
          type: string
        count:
          type: string
          description: Usable amount
        frozen:
          type: string
          description: Frozen amount
        btcQuantity:
          type: string
          description: Estimated BTC equivalent value
        type:
          type: string
          description: "1=virtual coin, 2=legal currency"

    DepositRecord:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          description: "0=fail, 1=success"
        coinType:
          type: string
        quantity:
          type: string
        createTime:
          type: integer
          format: int64
        address:
          type: string
        txid:
          type: string
        acountName:
          type: string

    WithdrawRecord:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          description: "0-3=pending, 7=success, 8=fail"
        coinType:
          type: string
        quantity:
          type: string
        createTime:
          type: integer
          format: int64
        address:
          type: string
        txid:
          type: string
        withdrawType:
          type: string
          description: "0=inner transfer, 1=wallet withdrawal"
        fee:
          type: string

    PageInfo:
      type: object
      properties:
        page:
          type: integer
        count:
          type: integer
        pageTotal:
          type: integer
        recordTotal:
          type: integer

paths:
  /serverTime:
    get:
      summary: Query server time
      description: Returns the current server timestamp in milliseconds.
      operationId: getServerTime
      tags:
        - General
      responses:
        "200":
          description: Server timestamp
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: integer
                        format: int64
                        example: 1557134972000

  /spot/config:
    get:
      summary: Get exchange configuration
      description: Returns spot, coin, and contract configuration details.
      operationId: getSpotConfig
      tags:
        - General
      responses:
        "200":
          description: Exchange configuration
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          coinConfig:
                            type: array
                            items:
                              $ref: "#/components/schemas/CoinConfig"
                          spotConfig:
                            type: array
                            items:
                              $ref: "#/components/schemas/SpotConfig"
                          contractConfig:
                            type: array
                            items:
                              $ref: "#/components/schemas/ContractConfig"

  /spot/ticker:
    get:
      summary: Get spot ticker
      description: Returns 24-hour ticker data for a symbol or all symbols.
      operationId: getSpotTicker
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading pair symbol (e.g. ETH-USDT). Use "ALL" to get all tickers.
          schema:
            type: string
            example: BTC-USDT
      responses:
        "200":
          description: Ticker data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/TickerData"

  /spot/orderBook:
    get:
      summary: Get order book
      description: Returns the current order book (bids and asks) for a symbol.
      operationId: getSpotOrderBook
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading pair symbol (e.g. ETH-USDT)
          schema:
            type: string
            example: ETH-USDT
      responses:
        "200":
          description: Order book
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderBookData"

  /spot/trades:
    get:
      summary: Get recent trades
      description: Returns the last 100 trades for a symbol.
      operationId: getSpotTrades
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BTC-USDT
      responses:
        "200":
          description: Recent trade records
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/TradeRecord"

  /spot/kline:
    get:
      summary: Get candlestick data
      description: Returns OHLCV candlestick (kline) data for a symbol.
      operationId: getSpotKline
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: BTC-USDT
        - name: type
          in: query
          required: true
          description: "Kline interval: m1, m3, m5, m15, m30, h1, h2, h4, h6, h8, h12, d1, d3, w1, M1"
          schema:
            type: string
            enum: [m1, m3, m5, m15, m30, h1, h2, h4, h6, h8, h12, d1, d3, w1, M1]
        - name: start
          in: query
          required: true
          description: Start time in Unix seconds
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          required: true
          description: End time in Unix seconds
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Kline data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/KlineRecord"

  /spot/placeOrder:
    post:
      summary: Place a spot order
      description: Creates a new spot order. Requires transaction authentication.
      operationId: placeSpotOrder
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, type, side, price, quantity, timestamp]
              properties:
                symbol:
                  type: string
                  example: BTC-USDT
                type:
                  type: string
                  enum: [limit, market]
                side:
                  type: string
                  enum: [buy, sell]
                price:
                  type: string
                  description: Order price. Set to -1 for market orders.
                quantity:
                  type: string
                  description: Order quantity. For market buy, this is the quote currency amount.
                timestamp:
                  type: string
                  description: Request timestamp in milliseconds
                msgNo:
                  type: string
                  description: Client order ID (max 50 chars)
                apiKey:
                  type: string
                signature:
                  type: string
      responses:
        "200":
          description: Order placed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          orderId:
                            type: string
                          symbol:
                            type: string

  /spot/cancelOrder:
    post:
      summary: Cancel a spot order
      description: Cancels an existing spot order. Requires transaction authentication.
      operationId: cancelSpotOrder
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, symbol]
              properties:
                orderId:
                  type: string
                symbol:
                  type: string
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /spot/cancelOrder/batch:
    post:
      summary: Batch cancel spot orders
      description: Cancels multiple spot orders. Requires transaction authentication.
      operationId: batchCancelSpotOrders
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol]
              properties:
                symbol:
                  type: string
                ids:
                  type: string
                  description: Comma-separated order IDs (max 100). If empty, cancels all orders for the symbol.
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
            example:
              symbol: ETH-USDT
              ids: "74740189190115328,74740189190115329"
      responses:
        "200":
          description: Orders cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /spot/placeOrders:
    post:
      summary: Batch place spot orders
      description: Places multiple spot orders (up to 10). Requires transaction authentication.
      operationId: batchPlaceSpotOrders
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [multiParams]
              properties:
                multiParams:
                  type: string
                  description: JSON-encoded array of order parameter objects (max 10 orders)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Orders placed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                orderId:
                                  type: string
                                symbol:
                                  type: string
                            code:
                              type: string
                            msg:
                              type: string
                            timestamp:
                              type: integer
                              format: int64

  /spot/singleOrder:
    post:
      summary: Query single order
      description: Returns details of a specific order.
      operationId: getSpotSingleOrder
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, symbol]
              properties:
                orderId:
                  type: string
                symbol:
                  type: string
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Order"

  /spot/openOrders:
    post:
      summary: Query open orders
      description: Returns a paginated list of open orders for a symbol.
      operationId: getSpotOpenOrders
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol]
              properties:
                symbol:
                  type: string
                page:
                  type: string
                  description: Page number (default 1)
                count:
                  type: string
                  description: Records per page (default 10)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Open order list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          num:
                            type: integer
                            format: int64
                          list:
                            type: array
                            items:
                              $ref: "#/components/schemas/Order"

  /spot/orderList:
    post:
      summary: Query order history
      description: Returns a paginated list of historical (completed/cancelled) orders.
      operationId: getSpotOrderList
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [side, symbol, status, queryRange]
              properties:
                side:
                  type: string
                  enum: [buy, sell]
                symbol:
                  type: string
                status:
                  type: string
                  description: "Order status filter (e.g. 'traded' for history)"
                queryRange:
                  type: string
                  enum: [thisweek, thisweekago]
                  description: "thisweek=last 7 days, thisweekago=before 7 days ago"
                page:
                  type: string
                count:
                  type: string
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Order history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          num:
                            type: integer
                            format: int64
                          list:
                            type: array
                            items:
                              $ref: "#/components/schemas/Order"

  /spot/orderDetail:
    post:
      summary: Query order trade details
      description: Returns trade-level fill details for an order.
      operationId: getSpotOrderDetail
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, symbol]
              properties:
                orderId:
                  type: string
                symbol:
                  type: string
                page:
                  type: string
                  description: Page number (default 1)
                count:
                  type: string
                  description: Records per page (default 10)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Order fill details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          num:
                            type: integer
                            format: int64
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                orderId:
                                  type: string
                                orderSign:
                                  type: string
                                  description: "taker or maker"
                                getCount:
                                  type: string
                                getCountUnit:
                                  type: string
                                loseCount:
                                  type: string
                                loseCountUnit:
                                  type: string
                                price:
                                  type: string
                                priceUnit:
                                  type: string
                                fee:
                                  type: string
                                feeUnit:
                                  type: string
                                time:
                                  type: integer
                                  format: int64
                                fsymbol:
                                  type: string
                                side:
                                  type: string
                                  enum: [buy, sell]

  /spot/myTrades:
    post:
      summary: Query my trades
      description: Returns recent personal trade history for a symbol.
      operationId: getSpotMyTrades
      tags:
        - Spot Trading
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol]
              properties:
                symbol:
                  type: string
                startTime:
                  type: integer
                  format: int64
                  description: Start timestamp in ms (defaults to current time if omitted)
                limit:
                  type: integer
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Personal trade history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int64
                            price:
                              type: number
                            amount:
                              type: number
                            side:
                              type: string
                              enum: [buy, sell]
                            direction:
                              type: string
                              enum: [taker, maker]
                            time:
                              type: integer
                              format: int64

  /spot/assetList:
    post:
      summary: Query spot asset account
      description: Returns spot asset balances.
      operationId: getSpotAssetList
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assetType]
              properties:
                coinType:
                  type: string
                  description: Filter by coin type. If omitted, returns all assets.
                assetType:
                  type: string
                  description: "spot for virtual assets"
                  example: spot
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Asset list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AssetRecord"

  /wallet/depositHistory:
    post:
      summary: Query deposit history
      description: Returns deposit history for an account.
      operationId: getDepositHistory
      tags:
        - Wallet
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start]
              properties:
                coin:
                  type: string
                  description: Coin type filter (e.g. BTC)
                start:
                  type: integer
                  format: int64
                  description: Query start time (Unix ms)
                end:
                  type: integer
                  format: int64
                  description: Query end time (Unix ms). Range must be <= 90 days.
                limit:
                  type: integer
                  description: Max records (default 50, max 50)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Deposit history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/DepositRecord"

  /wallet/withdrawHistory:
    post:
      summary: Query withdrawal history
      description: Returns withdrawal history for an account.
      operationId: getWithdrawHistory
      tags:
        - Wallet
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start]
              properties:
                coin:
                  type: string
                  description: Coin type filter (e.g. BTC)
                start:
                  type: integer
                  format: int64
                  description: Query start time (Unix ms)
                end:
                  type: integer
                  format: int64
                  description: Query end time (Unix ms). Range must be <= 90 days.
                limit:
                  type: integer
                  description: Max records (default 50, max 50)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Withdrawal history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/WithdrawRecord"

  /withdraw:
    post:
      summary: Submit a withdrawal
      description: Initiates a cryptocurrency withdrawal. Requires withdrawal authentication.
      operationId: submitWithdraw
      tags:
        - Wallet
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [coinType, address, quantity, mark]
              properties:
                coinType:
                  type: string
                  description: "Coin type (e.g. BTC, USDT-ERC20, USDT-OMNI)"
                address:
                  type: string
                  description: Target wallet address
                extendParam:
                  type: string
                  description: Memo or tag (for coins that require it)
                quantity:
                  type: string
                  description: Withdrawal amount
                mark:
                  type: string
                  description: Remark (max 250 chars)
                apiKey:
                  type: string
                timestamp:
                  type: integer
                  format: int64
                signature:
                  type: string
      responses:
        "200":
          description: Withdrawal submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"
